body{
    background-image: 
    repeating-linear-gradient(
      45deg,
      violet 1px,
      blue 10px,
      white 10px,
      black 10px,
      yellow 20px /* determines size */
    );    
    font-family:Arial, Helvetica, sans-serif;
    background-attachment: fixed;

}

.container{
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#loginform{
    padding: 1em;
    height: 20em;
    width: 60em;
    text-align: center;
    background-color: #efe6f2;
    border: 5px solid transparent;
    /* filter: drop-shadow(0 0 6rem #7F00FF); */
    filter: drop-shadow(0 0 6rem black );
    border-radius: 15px;
}

#regiform{
    padding: 1em;
    height: 20%;
    width: 20em;
    text-align: center;
    background-color: #efe6f2;
    border: 5px solid transparent;
    font-size: 1em;
    filter: drop-shadow(0 0 6rem black );
    border-radius: 6px;
    display: flex;
    justify-content: center;
}

#regiform, a{
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    align-items : center;

}

input{
    text-align: center;
    border-color: transparent;
    background-color: white;
    height: 2em;
    width: 20em;
    border-radius: 4px;
}

#senden{
    border: 1px solid black;
    background-color: darkgray;
    height: 2em;
    width: 5em;
}

h2{
    font-size: 2.5em;
}
