body{
    background:
        linear-gradient(darkgray, transparent),
        linear-gradient(to top left, skyblue, transparent),
        linear-gradient(to top right, darkblue, transparent);
    background-blend-mode: screen;
    font-family:Arial, Helvetica, sans-serif;
    background-attachment: fixed;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.container{
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: row
}

#loginform{
    height: 40em;
    width: 28em;
    text-align: center;
    background-color: white;
    border: 5px solid transparent;
    /* filter: drop-shadow(0 0 6rem #7F00FF); */
    filter: drop-shadow(0 0 3rem black );
    border-radius: 10px;
    order: 0;
    margin-top: 1rem;

}

#loginform a{
    color: black;

}

#info{
    height: 30em;
    width: 50em;
    text-align: center;
    background-color: white;
    border: 5px solid transparent;
    /* filter: drop-shadow(0 0 6rem #7F00FF); */
    filter: drop-shadow(0 0 3rem black);
    border-radius: 4px;
    margin-left: 7rem;
    margin-top: 1rem;;
    order: 1;
}

#info img{
    height: 30em;
    width: 50em;
    object-fit: fill;
    filter: blur(5px);
    transition: filter 0.3s ease;
}

#info img:hover{
    height: 30em;
    width: 50em;
    filter: blur(0px);
}


input{
    text-align: center;
    border-color: gray;
    background-color: #F5F5F5;
    height: 2em;
    width: 20em;
    border-radius: 7px;
}

#senden{
    border: 1px solid black;
    background-color: #F5F5F5;
    height: 2em;
    width: 5em;
}

h2{
    font-size: 3.5em;
}

.panelcontainer{
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    box-sizing: border-box;
    padding: 2rem;
}

.postPanel{
    height: 100%;
    width: 60em;
    text-align: center;
    /* filter: drop-shadow(0 0 6rem #7F00FF); */
    border-radius: 10px;
    margin-left: 5rem;
    padding: 1px;
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.postHeader{
    height: 12rem;
    width: 100%;
    text-align: left;
    background-image: url("../img/Postheader.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y: 35%;
    background-position-x: 5%;
    box-shadow: 1px 5px 3px black;    
    border: transparent;
    border-radius: 10px;
    align-content: center;
    order: 0;
    font-size:1.5rem;
}

.postHeader h3{
    font-size: 2em;
    opacity: 0.9;
    margin-bottom: 2rem;
    padding-left: 2.5rem;
}

.postUpload{
    height: 10rem;
    width: 80%;
    background: white;
    margin-top: -3rem;
    z-index: 2;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

.postUploaded{
    height: 100%;
    width: 80%;
    background: white;
    margin-top: 4rem;

    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

.userPanel{
    height: 30em;
    width: 17em;
    text-align: center;
    background-color: white;
    border: 5px solid transparent;
    /* filter: drop-shadow(0 0 6rem #7F00FF); */
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    border-radius: 4px;
    order: 0;
}


