body{
    background:
        linear-gradient(darkgray, transparent),
        linear-gradient(to top left, skyblue, transparent),
        linear-gradient(to top right, darkblue, transparent);
    background-blend-mode: screen;
    font-family:Arial, Helvetica, sans-serif;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: start;
    align-items: center;
    flex-direction: row
}

#loginform{
    height: 40em;
    width: 28em;
    text-align: center;
    background-color: white;
    border: 5px solid transparent;
    /* filter: drop-shadow(0 0 6rem #7F00FF); */
    filter: drop-shadow(0 0 3rem black );
    border-radius: 10px;
    margin-left: 10rem;
    order: 0;
    margin-top: 1rem;

}

#loginform a{
    color: black;

}

#info{
    height: 30em;
    width: 50em;
    text-align: center;
    background-color: white;
    border: 5px solid transparent;
    /* filter: drop-shadow(0 0 6rem #7F00FF); */
    filter: drop-shadow(0 0 3rem black);
    border-radius: 4px;
    margin-left: 7rem;
    margin-top: 1rem;;
    order: 1;
}

#info img{
    height: 30em;
    width: 50em;
    object-fit: fill;
    filter: blur(5px);
    transition: filter 0.3s ease;
}

#info img:hover{
    height: 30em;
    width: 50em;
    filter: blur(0px);
}


input{
    text-align: center;
    border-color: gray;
    background-color: #F5F5F5;
    height: 2em;
    width: 20em;
    border-radius: 7px;
}

#senden{
    border: 1px solid black;
    background-color: #F5F5F5;
    height: 2em;
    width: 5em;
}

h2{
    font-size: 3.5em;
}

.test_panel{
    height: 40em;
    width: 60em;
    text-align: center;
    background-color: white;
    border: 5px solid transparent;
    /* filter: drop-shadow(0 0 6rem #7F00FF); */
    filter: drop-shadow(0 0 3rem black );
    border-radius: 20px;
}

header{
    height: 10em;
    width: 100%;
    background-image: url('../img/Postheader.jpg');
    background-size: cover;
    background-position: center;
    background-position-y:35%;
    background-repeat: no-repeat;
}

.welcomeHeader{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding-top: 1rem;
    margin-left: 1.5rem;
    font-size: 3rem;

}

.userPanel{
    height: 1.5em;
    width: 100%;
    background-color: #F5F5F5;
    margin-top: 0;
    background-color: gainsboro;
    filter: drop-shadow(0 0 3rem black );
    display: block;
}

.userPanel h3{
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}