body{
    background-image: 
    repeating-linear-gradient(
      45deg,
      yellow,
      yellow 10px,
      red 10px,
      red 20px /* determines size */
    );    
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    
}

#loginform{
    padding: 1em;
    height: 20em;
    width: 80em;
    text-align: center;
    background-color: #efe6f2;
    border: 5px solid transparent;
    filter: drop-shadow(0 0 5rem #7F00FF);
}

input{
    background-color: white;
}
