body{
    background: rgb(63,94,251);
    background: linear-gradient(66deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    font-family:Arial, Helvetica, sans-serif;
    background-attachment: fixed;
}

.container{
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: left;
    flex-direction:column;

}

#loginform{
    height: 40em;
    width: 30em;
    text-align: center;
    background-color: white;
    border: 5px solid transparent;
    /* filter: drop-shadow(0 0 6rem #7F00FF); */
    filter: drop-shadow(0 0 3rem black );
    border-radius: 20px;
    margin-left: 20rem;
}

input{
    text-align: center;
    border-color: gray;
    background-color: #F5F5F5;
    height: 2em;
    width: 20em;
    border-radius: 12px;
}

#senden{
    border: 1px solid black;
    background-color: #F5F5F5;
    height: 2em;
    width: 5em;
}

h2{
    font-size: 3.5em;
}

.test_panel{
    height: 40em;
    width: 60em;
    text-align: center;
    background-color: white;
    border: 5px solid transparent;
    /* filter: drop-shadow(0 0 6rem #7F00FF); */
    filter: drop-shadow(0 0 3rem black );
    border-radius: 20px;
}